body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: darken($third, 20%) !important;
}
.col{
  padding-bottom: 10px !important;
}
.title_card{
  text-decoration: none;
  color: $white !important;
}
.rounded-pill {
  border-radius: 5rem;
}
.padding-logo{
  padding-top: 50px;
}
.card{
  border: 0.5px solid lighten($third, 50%) !important;
}
.card-item{
  background-color: #accae8 !important;
}
.card-header{
  background-color: lighten($third, 40%) !important;
  color: darken($third, 20%) !important;
}
.category-choices{
  color: darken($third, 20%) !important;
  font-family: FuturaPTW02-Book;
  &:active,
  &:focus,
  &:hover {
    color: $third !important;
  }   
}
.card-text{
  color: $third !important;
  font-family: FuturaPTW02-Book;
}
.card-stars{
  color: #098823 !important;
  font-family: FuturaPTW02-Book;
}
.card-comments{
  background-color: lighten($third, 60%) !important;
  font-family: FuturaPTW02-Book;
  color: $third !important;
}
.card-fcomments{
  background-color: lighten($third, 40%) !important;
  font-family: FuturaPTW02-Book;
  color: $third !important;
}
.card-title{
  color: $third !important;
  font-family: FuturaPTW02-Book; 
}
.product-name {
  font-weight: 700;
  color: $third !important;
  font-family: FuturaPTW02-Book;   
}
.color-title{
  color: $third !important;
  font-family: FuturaPTW02-Book; 
}
.has-error{
  color: #cc0000 !important;
}
.twitter{
  font-size: 18px;
  display: inline-block;
  background-color: lighten($third, 40%) !important;
  color: darken($third, 20%) !important;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.facebook{
  font-size: 18px;
  display: inline-block;
  background-color: lighten($third, 40%) !important;
  color: darken($third, 20%) !important;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.instagram{
  font-size: 18px;
  display: inline-block;
  background-color: lighten($third, 40%) !important;
  color: darken($third, 20%) !important;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.footerlinks{
  text-decoration: none;
  color: #ffffff !important;
}
.pad-left{
  padding-left: 1rem !important;
  padding-bottom: 1px !important;
}
.pcategory{
  margin-bottom: 1px !important;
}
.categorieslink{
  text-decoration: none;
  color: $primary !important;
}
.footertitle{
 color: #ffffff !important; 
}
.example-slide {
  align-items: center;
  background-color: #fff;
  color: #999;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  min-height: 10rem;
  width: 100%;
}
.topbar-logo{
  width: 50px;
  height: 50px;
}
.example-drag label.btn {
  margin-bottom: 0;
  margin-right: 1rem;
}
.example-drag .drop-active {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  opacity: .6;
  text-align: center;
  background: #000;
}
.example-drag .drop-active h3 {
  margin: -.5em 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 40px;
  color: #fff;
  padding: 0;
}
.cursor{
  text-decoration: none;
  cursor: pointer;
}
.file-uploader{
  background-color: $primary;
  border-color: $primary;
  color: $white;
  width: 300px;
  height: 50px;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 10%) !important;
    border-color: darken($primary, 10%) !important;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem fade-out($primary, 0.5);
  }  
}
.light_background{
  background-color: lighten($third, 50%) !important;
}
.noborder{
  border:none !important;
  background-color: darken($third, 10%) !important;
}
.paddtop{
  padding-top: 1rem !important;
}
.text-logo{
  text-decoration: none;
  color: $gray-500 !important;
}
.title-landing{
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: $third !important;
  font-family: FuturaPTW02-Book;  
}
.title_landing_i{
  font-style: italic;  
}
.border-landing{
  border: solid 1px #1b4274 !important;
  border-radius: 5%;
}
.border_landing_trade{
  border: solid 1px #1b4274 !important;
  height: 300px;
}
.border_landing_money{
  border: solid 1px #1b4274 !important;
  height: 200px;  
}
.landing_trade_text{
  padding-top: 10%;
}
.landing_money_text{
  padding-top: 5%;
}
.login{
  height: 450px;
}
.sign_up_header{
  background-image: linear-gradient(to right, #003ed8 , #462469);
  font-size: 1.3rem;
  font-weight: 700;
  color: $white !important;  
}
.over{
  overflow-x: hidden;
  overflow-y: scroll;
  height: 70px;
}
.have-notificatons{
  color: #098823 !important;
  font-family: FuturaPTW02-Book;
}
.have-inprogress{
  color: #098823 !important;
  font-family: FuturaPTW02-Book;
  font-size: 1rem; 
  font-weight: 700; 
}
.stripe{
  font-size:2rem !important;
}