body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: darken($third, 20%) !important;
}
.col{
  padding-bottom: 10px !important;
}
.title_card{
  text-decoration: none;
  color: $white !important;
}
.rounded-pill {
  border-radius: 5rem;
}
.padding-logo{
  padding-top: 50px;
}
.card{
  border: 0.5px solid lighten($third, 50%) !important;
}
.card-item{
  background-color: #accae8 !important;
}
.card-header{
  background-color: lighten($third, 40%) !important;
  color: darken($third, 20%) !important;
}
.category-choices{
  color: darken($third, 20%) !important;
  font-family: FuturaPTW02-Book;
  &:active,
  &:focus,
  &:hover {
    color: $third !important;
  }   
}
.card-text{
  color: $third !important;
  font-family: FuturaPTW02-Book;
}
.card-stars{
  color: #098823 !important;
  font-family: FuturaPTW02-Book;
}
.card-stars-m{
  color: $secondary !important;
  font-family: FuturaPTW02-Book;
}
.card-comments{
  background-color: lighten($third, 60%) !important;
  font-family: FuturaPTW02-Book;
  color: $third !important;
}
.card-fcomments{
  background-color: lighten($third, 40%) !important;
  font-family: FuturaPTW02-Book;
  color: $third !important;
}
.card-title{
  color: $third !important;
  font-family: FuturaPTW02-Book; 
}
.product-name {
  font-weight: 700;
  color: $third !important;
  font-family: FuturaPTW02-Book;   
}
.color-title{
  color: $third !important;
  font-family: FuturaPTW02-Book; 
}
.has-error{
  color: #cc0000 !important;
}
.twitter{
  font-size: 18px;
  display: inline-block;
  background-color: lighten($third, 40%) !important;
  color: darken($third, 20%) !important;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.facebook{
  font-size: 18px;
  display: inline-block;
  background-color: lighten($third, 40%) !important;
  color: darken($third, 20%) !important;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.instagram{
  font-size: 18px;
  display: inline-block;
  background-color: lighten($third, 40%) !important;
  color: darken($third, 20%) !important;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.footerlinks{
  text-decoration: none;
  color: #ffffff !important;
}
.pad-left{
  padding-left: 2rem !important;
  padding-bottom: 1px !important;
}
.pcategory{
  margin-bottom: 1px !important;
}
.psubcategory{
  margin-bottom: 1px !important;
  padding-left: 1rem !important;
}
.categorieslink{
  text-decoration: none;
  color: $primary !important;
}
.footertitle{
 color: #ffffff !important; 
}
.example-slide {
  align-items: center;
  background-color: #fff;
  color: #999;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  min-height: 10rem;
  width: 100%;
}
.topbar-logo{
  width: 50px;
  height: 50px;
}
.example-drag label.btn {
  margin-bottom: 0;
  margin-right: 1rem;
}
.example-drag .drop-active {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  opacity: .6;
  text-align: center;
  background: #000;
}
.example-drag .drop-active h3 {
  margin: -.5em 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 40px;
  color: #fff;
  padding: 0;
}
.cursor{
  text-decoration: none;
  cursor: pointer;
}
.file-uploader{
  background-color: $primary;
  border-color: $primary;
  color: $white;
  width: 300px;
  height: 50px;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 10%) !important;
    border-color: darken($primary, 10%) !important;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem fade-out($primary, 0.5);
  }  
}
.light_background{
  background-color: lighten($third, 50%) !important;
}
.noborder{
  border:none !important;
  background-color: darken($third, 10%) !important;
}
.paddtop{
  padding-top: 1rem !important;
}
.text-logo{
  text-decoration: none;
  color: $gray-500 !important;
}
.title-landing{
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: $third !important;
  font-family: FuturaPTW02-Book;  
}
.title_landing_i{
  font-style: italic;  
}
.border-landing{
  border: solid 1px #1b4274 !important;
  border-radius: 5%;
}
.border_landing_trade{
  border: solid 1px #1b4274 !important;
  height: 300px;
}
.border_landing_money{
  border: solid 1px #1b4274 !important;
  height: 200px;  
}
.landing_trade_text{
  padding-top: 10%;
}
.landing_money_text{
  padding-top: 5%;
}
.login{
  height: 450px;
}
.sign_up_header{
  background-image: linear-gradient(to right, #003ed8 , #462469);
  font-size: 1.3rem;
  font-weight: 700;
  color: $white !important;  
}
.over{
  overflow-x: hidden;
  overflow-y: scroll;
  height: 500px;
}
.have-notificatons{
  color: #098823 !important;
  font-family: FuturaPTW02-Book;
}
.have-inprogress{
  color: #098823 !important;
  font-family: FuturaPTW02-Book;
  font-size: 1rem; 
  font-weight: 700; 
}
.stripe{
  font-size:2rem !important;
}
.product{
  font-family: FuturaPTW02-Book;
  background-color: lighten($fourth, 40%) !important;
  color: $third !important;
}
.service{
  font-family: FuturaPTW02-Book;
  background-color: lighten($primary, 40%) !important;
  color: $third !important;
}
.skills{
  font-family: FuturaPTW02-Book;
  background-color: lighten($secondary, 40%) !important;
  color: $white !important;
}
.chart-container {
  position: relative;
  margin: auto;
  height: 20vh;
  width: 50vw;
}
.qualifychart-container {
  position: relative;
  margin: auto;
  height: 55vh;
  width: 60vw;
}
#getusers{
  color: $third !important;
  /*background: $third;*/
  padding-top:20px;
}
#getusers .box {
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  position: relative;
  background-image: linear-gradient(to bottom, #003ed8 , #462469);
}

#getusers .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: $third;
}

#getusers .icon a {
  display: inline-block;
}

#getusers .icon i {
  color: #fff;
  font-size: 24px;
}

#getusers .box:hover .icon {
  background: #fff;
  border: 2px solid $third;
}

#getusers .box:hover .icon i {
  color: $third !important;
}

#getusers .box:hover .icon a {
  color: $third !important;
}

#getusers .title {
  color: $gray-200;
  padding-top:25px;
  font-weight: 700;
  font-size: 18px;
}

#getusers .title a {
  color: $gray-200 !important;
}
#getusers .section-header {
  padding:30px !important;
}

#getusers .description {
  font-size: 14px;
  line-height: 24px;
}
#getpartners{
  color: $third !important;
  /*background: $third;*/
  padding-top:20px;
}
#getpartners .box {
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  position: relative;
  background-image: linear-gradient(to bottom, #003ed8 , #462469);
}

#getpartners .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: $third;
}

#getpartners .icon a {
  display: inline-block;
}

#getpartners .icon i {
  color: #fff;
  font-size: 24px;
}

#getpartners .box:hover .icon {
  background: #fff;
  border: 2px solid $third;
}

#getpartners .box:hover .icon i {
  color: $third !important;
}

#getpartners .box:hover .icon a {
  color: $third !important;
}

#getpartners .title {
  color: $gray-200;
  padding-top:25px;
  font-weight: 700;
  font-size: 18px;
}

#getpartners .title a {
  color: $gray-200 !important;
}
#getpartners .section-header {
  padding:30px !important;
}

#getpartners .description {
  font-size: 14px;
  line-height: 24px;
}

#topproducts{
  color: $third !important;
  padding-top:70px;
}
#topproducts .box {
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  position: relative;
  background-image: linear-gradient(to bottom, darken($third, 40%) , lighten($third, 40%));
}

#topproducts .icon {
  position: absolute;
  top: -86px;
  left: calc(50% - 86px);
  transition: 0.2s;
  border-radius: 10%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 172px;
  height: 172px;
  background: $third;
}

#topproducts .icon a {
  display: inline-block;
}

#topproducts .icon i {
  color: #fff;
  font-size: 24px;
}

#topproducts .box:hover .icon {
  background: #fff;
  border: 2px solid $third;
}

#topproducts .box:hover .icon i {
  color: $third !important;
}

#topproducts .box:hover .icon a {
  color: $third !important;
}

#topproducts .title {
  color: $gray-200;
  padding-top:75px;
  font-weight: 700;
  font-size: 18px;
}

#topproducts .title a {
  color: $gray-200 !important;
}
#topproducts .section-header {
  padding:30px !important;
}

#topproducts .description {
  color: $gray-200 !important;
  padding-top:10px;
  font-size: 14px;
  line-height: 24px;
}
#topskills{
  color: $third !important;
  padding-top:70px;
}
#topskills .box {
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  position: relative;
  background-image: linear-gradient(to bottom, darken($third, 40%) , lighten($third, 40%));
}

#topskills .icon {
  position: absolute;
  top: -86px;
  left: calc(50% - 86px);
  transition: 0.2s;
  border-radius: 10%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 172px;
  height: 172px;
  background: $third;
}

#topskills .icon a {
  display: inline-block;
}

#topskills .icon i {
  color: #fff;
  font-size: 24px;
}

#topskills .box:hover .icon {
  background: #fff;
  border: 2px solid $third;
}

#topskills .box:hover .icon i {
  color: $third !important;
}

#topskills .box:hover .icon a {
  color: $third !important;
}

#topskills .title {
  color: $gray-200;
  padding-top:75px;
  font-weight: 700;
  font-size: 18px;
}

#topskills .title a {
  color: $gray-200 !important;
}
#topskills .section-header {
  padding:30px !important;
}

#topskills .description {
  color: $gray-200 !important;
  padding-top:10px;
  font-size: 14px;
  line-height: 24px;
}
#topservices{
  color: $third !important;
  padding-top:70px;
}
#topservices .box {
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  position: relative;
  background-image: linear-gradient(to bottom, darken($third, 40%) , lighten($third, 40%));
}

#topservices .icon {
  position: absolute;
  top: -86px;
  left: calc(50% - 86px);
  transition: 0.2s;
  border-radius: 10%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 172px;
  height: 172px;
  background: $third;
}

#topservices .icon a {
  display: inline-block;
}

#topservices .icon i {
  color: #fff;
  font-size: 24px;
}

#topservices .box:hover .icon {
  background: #fff;
  border: 2px solid $third;
}

#topservices .box:hover .icon i {
  color: $third !important;
}

#topservices .box:hover .icon a {
  color: $third !important;
}

#topservices .title {
  color: $gray-200;
  padding-top:75px;
  font-weight: 700;
  font-size: 18px;
}

#topservices .title a {
  color: $gray-200 !important;
}
#topservices .section-header {
  padding:30px !important;
}

#topservices .description {
  color: $gray-200 !important;
  padding-top:10px;
  font-size: 14px;
  line-height: 24px;
}
#tradeseed{
  color: $third !important;
  padding-top:70px;
}
#tradeseed .box {
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  position: relative;
  background-image: linear-gradient(to bottom, darken($third, 40%) , lighten($third, 40%));
}

#tradeseed .icon {
  position: absolute;
  top: -86px;
  left: calc(50% - 86px);
  transition: 0.2s;
  border-radius: 10%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 172px;
  height: 172px;
  background: $third;
}

#tradeseed .icon a {
  display: inline-block;
}

#tradeseed .icon i {
  color: #fff;
  font-size: 24px;
}

#tradeseed .box:hover .icon {
  background: #fff;
  border: 2px solid $third;
}

#tradeseed .box:hover .icon i {
  color: $third !important;
}

#tradeseed .box:hover .icon a {
  color: $third !important;
}

#tradeseed .title {
  color: $gray-200;
  padding-top:75px;
  font-weight: 700;
  font-size: 18px;
}

#tradeseed .title a {
  color: $gray-200 !important;
}
#tradeseed .section-header {
  padding:30px !important;
}

#tradeseed .description {
  color: $gray-200 !important;
  padding-top:10px;
  font-size: 14px;
  line-height: 24px;
}
#alltrades{
  color: $third !important;
  padding-top:70px;
}
#alltrades .box {
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  position: relative;
  background-image: linear-gradient(to bottom, darken($third, 40%) , lighten($third, 40%));
}

#alltrades .icon {
  position: absolute;
  top: -86px;
  left: calc(50% - 86px);
  transition: 0.2s;
  border-radius: 10%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 172px;
  height: 172px;
  background: $third;
}

#alltrades .icon a {
  display: inline-block;
}

#alltrades .icon i {
  color: #fff;
  font-size: 24px;
}

#alltrades .box:hover .icon {
  background: #fff;
  border: 2px solid $third;
}

#alltrades .box:hover .icon i {
  color: $third !important;
}

#alltrades .box:hover .icon a {
  color: $third !important;
}

#alltrades .title {
  color: $gray-200;
  padding-top:75px;
  font-weight: 700;
  font-size: 18px;
}

#alltrades .title a {
  color: $gray-200 !important;
}
#alltrades .section-header {
  padding:30px !important;
}

#alltrades .description {
  color: $gray-200 !important;
  padding-top:10px;
  font-size: 14px;
  line-height: 24px;
}