.bg-dark {
    background-color: #080808 !important;
}
header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: 25px ;
  padding-bottom: 3rem;
  height: 280px;
  background-color:  $header !important;
}
header.masthead_white{
  position: relative;
  overflow: hidden;
  padding-top: 25px ;
  padding-bottom: 3rem;
  height: 280px;
  background-color:  $white !important;
}
.text-darkgray{
  color: #595657 !important;
}
.masthead-padding{
  padding-top: 140px !important;
}
.masthead-content_bgwhite{
  background-color:  $white !important;
  color: #595657 !important;
}
header.masthead2 {
  position: relative;
  overflow: hidden;
  padding-top: calc(2rem + 15px) !important;
  padding-bottom: 2rem !important;
}
.color_head2{
  color: $gray-600 !important;
  &:active,
  &:focus,
  &:hover {
    color: darken($gray-600, 20%) !important;
  }
}
.color_head3{
  color: darken($third, 20%) !important;
  &:active,
  &:focus,
  &:hover {
    color: $third !important;
  }
}
@media only screen and (max-width: 600px) {
  .mobil {
    width: 100% !important;
    max-width: 100% !important;
  }
header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: 25px ;
  padding-bottom: 3rem;
  height: 480px;
  background-color:  $header !important;
} 
.padding_middle {
    background-color: #34454d !important;
    height: 350px;
}
.iframe_employed{
  overflow:hidden; 
  width:470px; 
  height:425px;
}
.iframe_video{
  width:470px; 
  height:325px;  
} 
}

@media only screen and (max-width: 810px) {
.chart-container {
  position: relative;
  margin: auto;
  height: 50vh;
  width: 50vw;
}
.qualifychart-container {
  position: relative;
  margin: auto;
  height: 25vh;
  width: 50vw;
}
}
@media (min-width: 992px) {
  header.masthead {
    padding-top: 25px;
    padding-bottom: 3rem;
    .masthead-content {
      .masthead-heading {
        font-size: 2rem;
      }
      .masthead-subheading {
        font-size: 1rem;
      }
    }
  }
.color_head2{
  color: $gray-600 !important;
  &:active,
  &:focus,
  &:hover {
    color: darken($gray-600, 20%) !important;
  }
}
  header.masthead2 {
    padding-top: calc(2rem + 2px);
    padding-bottom: 2rem;
    .masthead-content {
      .masthead-heading {
        font-size: 2rem;
      }
      .masthead-subheading {
        font-size: 1rem;
      }
    }
  }  
  .example-slide {
    align-items: center;
    background-color: #fff;
    color: #999;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    min-height: 10rem;
    width: 100%;
  }
  .masthead-padding{
    padding-top: 140px !important;
  }

}
