header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: 15px ;
  padding-bottom: 5rem;
  background-image: linear-gradient(to right, #003ed8 , #462469);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}
.masthead-padding{
  padding-top: 40px !important;
}
header.masthead2 {
  position: relative;
  overflow: hidden;
  padding-top: calc(2rem + 15px) !important;
  padding-bottom: 2rem !important;
}
.color_head2{
  color: $gray-600 !important;
  &:active,
  &:focus,
  &:hover {
    color: darken($gray-600, 20%) !important;
  }
}
@media (min-width: 992px) {
  header.masthead {
    padding-top: 15px;
    padding-bottom: 7rem;
    .masthead-content {
      .masthead-heading {
        font-size: 2rem;
      }
      .masthead-subheading {
        font-size: 1rem;
      }
    }
  }
.color_head2{
  color: $gray-600 !important;
  &:active,
  &:focus,
  &:hover {
    color: darken($gray-600, 20%) !important;
  }
}
  header.masthead2 {
    padding-top: calc(2rem + 2px);
    padding-bottom: 2rem;
    .masthead-content {
      .masthead-heading {
        font-size: 2rem;
      }
      .masthead-subheading {
        font-size: 1rem;
      }
    }
  }  
  .example-slide {
    align-items: center;
    background-color: #fff;
    color: #999;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    min-height: 10rem;
    width: 100%;
  }
  .masthead-padding{
    padding-top: 40px !important;
  }
}
