@font-face {
  font-family: "FuturaPTW02-Book";
  src: url(/fonts/0fac23294cabd9471f8ca7816bf12eae.eot?e2970ee8e6854ef72642ae9612d12e43);
  /* IE9*/
  src: url(/fonts/0fac23294cabd9471f8ca7816bf12eae.eot?e2970ee8e6854ef72642ae9612d12e43) format("embedded-opentype"), url(/fonts/0fac23294cabd9471f8ca7816bf12eae.woff2?397c150f044860dace926b2a547842bb) format("woff2"), url(/fonts/0fac23294cabd9471f8ca7816bf12eae.woff?a835cd1cb6ecb364df7f0f1d90789ead) format("woff"), url(/fonts/0fac23294cabd9471f8ca7816bf12eae.ttf?0fac23294cabd9471f8ca7816bf12eae) format("truetype"), url(/fonts/0fac23294cabd9471f8ca7816bf12eae.svg?273731ece6fabd5c3a384de6c7d1aacc) format("svg");
  /* iOS 4.1- */
}

body {
  font-family: "FuturaPTW02-Book";
  color: #081321 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "FuturaPTW02-Book";
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #081321 !important;
}

.col {
  padding-bottom: 10px !important;
}

.title_card {
  text-decoration: none;
  color: #fff !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.padding-logo {
  padding-top: 50px;
}

.card {
  border: 0.5px solid #a4c3ea !important;
}

.card-item {
  background-color: #accae8 !important;
}

.card-header {
  background-color: #7ba7e0 !important;
  color: #081321 !important;
}

.category-choices {
  color: #081321 !important;
  font-family: FuturaPTW02-Book;
}

.category-choices:active,
.category-choices:focus,
.category-choices:hover {
  color: #1b4274 !important;
}

.card-text {
  color: #1b4274 !important;
  font-family: FuturaPTW02-Book;
}

.card-stars {
  color: #098823 !important;
  font-family: FuturaPTW02-Book;
}

.card-comments {
  background-color: #cedef3 !important;
  font-family: FuturaPTW02-Book;
  color: #1b4274 !important;
}

.card-fcomments {
  background-color: #7ba7e0 !important;
  font-family: FuturaPTW02-Book;
  color: #1b4274 !important;
}

.card-title {
  color: #1b4274 !important;
  font-family: FuturaPTW02-Book;
}

.product-name {
  font-weight: 700;
  color: #1b4274 !important;
  font-family: FuturaPTW02-Book;
}

.color-title {
  color: #1b4274 !important;
  font-family: FuturaPTW02-Book;
}

.has-error {
  color: #cc0000 !important;
}

.twitter {
  font-size: 18px;
  display: inline-block;
  background-color: #7ba7e0 !important;
  color: #081321 !important;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.facebook {
  font-size: 18px;
  display: inline-block;
  background-color: #7ba7e0 !important;
  color: #081321 !important;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.instagram {
  font-size: 18px;
  display: inline-block;
  background-color: #7ba7e0 !important;
  color: #081321 !important;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footerlinks {
  text-decoration: none;
  color: #ffffff !important;
}

.pad-left {
  padding-left: 1rem !important;
  padding-bottom: 1px !important;
}

.pcategory {
  margin-bottom: 1px !important;
}

.categorieslink {
  text-decoration: none;
  color: #003ed8 !important;
}

.footertitle {
  color: #ffffff !important;
}

.example-slide {
  align-items: center;
  background-color: #fff;
  color: #999;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  min-height: 10rem;
  width: 100%;
}

.topbar-logo {
  width: 50px;
  height: 50px;
}

.example-drag label.btn {
  margin-bottom: 0;
  margin-right: 1rem;
}

.example-drag .drop-active {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  opacity: 0.6;
  text-align: center;
  background: #000;
}

.example-drag .drop-active h3 {
  margin: -0.5em 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  font-size: 40px;
  color: #fff;
  padding: 0;
}

.cursor {
  text-decoration: none;
  cursor: pointer;
}

.file-uploader {
  background-color: #003ed8;
  border-color: #003ed8;
  color: #fff;
  width: 300px;
  height: 50px;
}

.file-uploader:active,
.file-uploader:focus,
.file-uploader:hover {
  background-color: #002fa5 !important;
  border-color: #002fa5 !important;
}

.file-uploader:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 62, 216, 0.5);
}

.light_background {
  background-color: #a4c3ea !important;
}

.noborder {
  border: none !important;
  background-color: #112a4b !important;
}

.paddtop {
  padding-top: 1rem !important;
}

.text-logo {
  text-decoration: none;
  color: #adb5bd !important;
}

.title-landing {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #1b4274 !important;
  font-family: FuturaPTW02-Book;
}

.title_landing_i {
  font-style: italic;
}

.border-landing {
  border: solid 1px #1b4274 !important;
  border-radius: 5%;
}

.border_landing_trade {
  border: solid 1px #1b4274 !important;
  height: 300px;
}

.border_landing_money {
  border: solid 1px #1b4274 !important;
  height: 200px;
}

.landing_trade_text {
  padding-top: 10%;
}

.landing_money_text {
  padding-top: 5%;
}

.login {
  height: 450px;
}

.sign_up_header {
  background-image: linear-gradient(to right, #003ed8, #462469);
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff !important;
}

.over {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 70px;
}

.have-notificatons {
  color: #098823 !important;
  font-family: FuturaPTW02-Book;
}

.have-inprogress {
  color: #098823 !important;
  font-family: FuturaPTW02-Book;
  font-size: 1rem;
  font-weight: 700;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #adb5bd !important;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 3rem;
  background-image: linear-gradient(to right, #003ed8, #462469);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

.masthead-padding {
  padding-top: 40px !important;
}

header.masthead2 {
  position: relative;
  overflow: hidden;
  padding-top: calc(2rem + 15px) !important;
  padding-bottom: 2rem !important;
}

.color_head2 {
  color: #868e96 !important;
}

.color_head2:active,
.color_head2:focus,
.color_head2:hover {
  color: #555b61 !important;
}

.color_head3 {
  color: #081321 !important;
}

.color_head3:active,
.color_head3:focus,
.color_head3:hover {
  color: #1b4274 !important;
}

@media only screen and (max-width: 600px) {
  .mobil {
    width: 100% !important;
    max-width: 100% !important;
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 25px;
    padding-bottom: 3rem;
  }

  header.masthead .masthead-content .masthead-heading {
    font-size: 2rem;
  }

  header.masthead .masthead-content .masthead-subheading {
    font-size: 1rem;
  }

  .color_head2 {
    color: #868e96 !important;
  }

  .color_head2:active,
  .color_head2:focus,
  .color_head2:hover {
    color: #555b61 !important;
  }

  header.masthead2 {
    padding-top: calc(2rem + 2px);
    padding-bottom: 2rem;
  }

  header.masthead2 .masthead-content .masthead-heading {
    font-size: 2rem;
  }

  header.masthead2 .masthead-content .masthead-subheading {
    font-size: 1rem;
  }

  .example-slide {
    align-items: center;
    background-color: #fff;
    color: #999;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    min-height: 10rem;
    width: 100%;
  }

  .masthead-padding {
    padding-top: 40px !important;
  }
}

.bg-primary {
  background-color: #003ed8 !important;
}

.btn-primary {
  background-color: #003ed8;
  border-color: #003ed8;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #002fa5 !important;
  border-color: #002fa5 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 62, 216, 0.5);
}

.btn-secondary {
  background-color: #360c4c;
  border-color: #360c4c;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: #170520 !important;
  border-color: #170520 !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(54, 12, 76, 0.5);
}

.input-group > .intl-tel-input.allow-dropdown {
  flex: 1 1 auto;
  width: 1%;
}

.input-group > .intl-tel-input.allow-dropdown > .flag-container {
  z-index: 4;
}

.iti-flag {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.6/img/flags.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .iti-flag {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.6/img/flags@2x.png");
  }
}

