@font-face {
  font-family: "roboto-bold";
  src: url(/fonts/roboto-bold.eot?7ff4438405bfb9fe87b606ca356ba6a0);
  /* IE9*/
  src: url(/fonts/roboto-bold.eot?7ff4438405bfb9fe87b606ca356ba6a0) format("embedded-opentype"), url(/fonts/roboto-bold.woff2?7ff4438405bfb9fe87b606ca356ba6a0) format("woff2"), url(/fonts/roboto-bold.woff?7ff4438405bfb9fe87b606ca356ba6a0) format("woff"), url(/fonts/roboto-bold.ttf?7ff4438405bfb9fe87b606ca356ba6a0) format("truetype"), url(/fonts/roboto-bold.svg?d484200feea5f9f1f8420a8f8f276ea2) format("svg");
  /* iOS 4.1- */
}

@font-face {
  font-family: "roboto-bold-italic";
  src: url(/fonts/roboto-bold-italic.eot?14029990066c7a7de585796da3051274);
  /* IE9*/
  src: url(/fonts/roboto-bold-italic.eot?14029990066c7a7de585796da3051274) format("embedded-opentype"), url(/fonts/roboto-bold-italic.woff2?14029990066c7a7de585796da3051274) format("woff2"), url(/fonts/roboto-bold-italic.woff?14029990066c7a7de585796da3051274) format("woff"), url(/fonts/roboto-bold-italic.ttf?14029990066c7a7de585796da3051274) format("truetype"), url(/fonts/roboto-bold-italic.svg?496f0fa20088514a8163fedc2ab91046) format("svg");
  /* iOS 4.1- */
}

@font-face {
  font-family: "roboto-italic";
  src: url(/fonts/roboto-italic.eot?91da52a33975cf60ad43e42728b1438e);
  /* IE9*/
  src: url(/fonts/roboto-italic.eot?91da52a33975cf60ad43e42728b1438e) format("embedded-opentype"), url(/fonts/roboto-italic.woff2?91da52a33975cf60ad43e42728b1438e) format("woff2"), url(/fonts/roboto-italic.woff?91da52a33975cf60ad43e42728b1438e) format("woff"), url(/fonts/roboto-italic.ttf?91da52a33975cf60ad43e42728b1438e) format("truetype"), url(/fonts/roboto-italic.svg?bf88f9130baa8290b4561df5f5b9c731) format("svg");
  /* iOS 4.1- */
}

@font-face {
  font-family: "roboto-light";
  src: url(/fonts/roboto-light.eot?cf4449c1884598b292630aa9f4007c19);
  /* IE9*/
  src: url(/fonts/roboto-light.eot?cf4449c1884598b292630aa9f4007c19) format("embedded-opentype"), url(/fonts/roboto-light.woff2?cf4449c1884598b292630aa9f4007c19) format("woff2"), url(/fonts/roboto-light.woff?cf4449c1884598b292630aa9f4007c19) format("woff"), url(/fonts/roboto-light.ttf?cf4449c1884598b292630aa9f4007c19) format("truetype"), url(/fonts/roboto-light.svg?64cd1aa6600389d54641cd864fdeaf0d) format("svg");
  /* iOS 4.1- */
}

@font-face {
  font-family: "roboto-light-italic";
  src: url(/fonts/roboto-light-italic.eot?52019ea2430e3a035f4c458f318bec4c);
  /* IE9*/
  src: url(/fonts/roboto-light-italic.eot?52019ea2430e3a035f4c458f318bec4c) format("embedded-opentype"), url(/fonts/roboto-light-italic.woff2?52019ea2430e3a035f4c458f318bec4c) format("woff2"), url(/fonts/roboto-light-italic.woff?52019ea2430e3a035f4c458f318bec4c) format("woff"), url(/fonts/roboto-light-italic.ttf?52019ea2430e3a035f4c458f318bec4c) format("truetype"), url(/fonts/roboto-light-italic.svg?c1431e02c8e9268d01cc86688536ce58) format("svg");
  /* iOS 4.1- */
}

@font-face {
  font-family: "roboto-regular";
  src: url(/fonts/roboto-regular.eot?e6fd95f0cb839566476ec9b6df34849c);
  /* IE9*/
  src: url(/fonts/roboto-regular.eot?e6fd95f0cb839566476ec9b6df34849c) format("embedded-opentype"), url(/fonts/roboto-regular.woff2?e6fd95f0cb839566476ec9b6df34849c) format("woff2"), url(/fonts/roboto-regular.woff?e6fd95f0cb839566476ec9b6df34849c) format("woff"), url(/fonts/roboto-regular.ttf?e6fd95f0cb839566476ec9b6df34849c) format("truetype"), url(/fonts/roboto-regular.svg?3aecb126ce2f90424021157efa819578) format("svg");
  /* iOS 4.1- */
}

body {
  font-family: "roboto-regular";
  color: #081321 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "roboto-bold";
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #34454d !important;
}

.col {
  padding-bottom: 10px !important;
}

.title_card {
  text-decoration: none;
  color: #fff !important;
}

.link_title_card {
  text-decoration: none;
  color: #3b9ce6 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.padding-logo {
  padding-top: 50px;
}

.card {
  border: 0.5px solid #b4c4cc !important;
}

.card-item {
  background-color: #fff !important;
}

.card-header {
  background-color: #95adb8 !important;
  color: #0b0e10 !important;
}

.category-choices {
  color: #0b0e10 !important;
  font-family: roboto-light;
}

.category-choices:active,
.category-choices:focus,
.category-choices:hover {
  color: #34454d !important;
}

.card-text {
  color: #34454d !important;
  font-family: roboto-light;
}

.card-stars {
  color: #098823 !important;
  font-family: roboto-light;
}

.card-stars-m {
  color: #360c4c !important;
  font-family: roboto-light;
}

.card-comments {
  background-color: #d2dce1 !important;
  font-family: roboto-light;
  color: #34454d !important;
}

.card-fcomments {
  background-color: #95adb8 !important;
  font-family: roboto-light;
  color: #34454d !important;
}

.card-title {
  color: #34454d !important;
  font-family: roboto-bold;
}

.product-name {
  font-weight: 700;
  color: #34454d !important;
  font-family: roboto-bold;
}

.color-title {
  color: #34454d !important;
  font-family: roboto-bold;
}

.iframe_video {
  width: 540px;
  height: 360px;
}

.iframe_employed {
  overflow: hidden;
  width: 570px;
  height: 525px;
}

.has-error {
  color: #cc0000 !important;
}

.twitter {
  font-size: 18px;
  display: inline-block;
  color: white !important;
  line-height: 1;
  padding: 8px 0;
  width: 36px;
  height: 36px;
}

.facebook {
  font-size: 18px;
  display: inline-block;
  color: #fff !important;
  line-height: 1;
  padding: 8px 0;
  width: 36px;
  height: 36px;
}

.instagram {
  font-size: 18px;
  display: inline-block;
  color: #fff !important;
  line-height: 1;
  padding: 8px 0;
  width: 36px;
  height: 36px;
}

.footerlinks {
  text-decoration: none;
  color: #ffffff !important;
}

.pad-left {
  padding-left: 2rem !important;
  padding-bottom: 1px !important;
}

.pcategory {
  margin-bottom: 1px !important;
}

.psubcategory {
  margin-bottom: 1px !important;
  padding-left: 1rem !important;
}

.categorieslink {
  text-decoration: none;
  color: #003ed8 !important;
}

.footertitle {
  color: #ffffff !important;
}

.example-slide {
  align-items: center;
  background-color: #fff;
  color: #999;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  min-height: 10rem;
  width: 100%;
}

.topbar-logo {
  width: 50px;
  height: 50px;
}

.example-drag label.btn {
  margin-bottom: 0;
  margin-right: 1rem;
}

.example-drag .drop-active {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  opacity: 0.6;
  text-align: center;
  background: #000;
}

.example-drag .drop-active h3 {
  margin: -0.5em 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  font-size: 40px;
  color: #fff;
  padding: 0;
}

.cursor {
  text-decoration: none;
  cursor: pointer;
}

.file-uploader {
  background-color: #003ed8;
  border-color: #003ed8;
  color: #fff;
  width: 300px;
  height: 50px;
}

.file-uploader:active,
.file-uploader:focus,
.file-uploader:hover {
  background-color: #002fa5 !important;
  border-color: #002fa5 !important;
}

.file-uploader:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 62, 216, 0.5);
}

.light_background {
  background-color: #b4c4cc !important;
}

.noborder {
  border: 1px solid #dee2e6 !important;
  background-color: #fff !important;
}

.paddtop {
  padding-top: 1rem !important;
}

.text-logo {
  text-decoration: none;
  color: #adb5bd !important;
}

.title-landing {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #34454d !important;
  font-family: roboto-bold;
}

.title_landing_i {
  font-style: italic;
}

.landing_title_3 {
  font-size: 1.4rem;
  font-family: roboto-bold;
  font-weight: 200 !important;
  color: #495057 !important;
}

.landing_title_4 {
  font-size: 1.2rem;
  font-family: roboto-light;
  font-weight: 200 !important;
  color: #495057 !important;
}

.landing_title_6 {
  font-size: 1rem;
  font-family: roboto-light;
  font-weight: 200 !important;
  color: #495057 !important;
}

.landing_controls {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.border-landing {
  border: none;
}

.border_landing_trade {
  border: solid 1px #1b4274 !important;
  height: 300px;
}

.user_name_login {
  padding-top: 10%;
}

.border_landing_money {
  border: solid 1px #1b4274 !important;
  height: 200px;
}

.landing_trade_text {
  padding-top: 10%;
}

.landing_money_text {
  padding-top: 5%;
}

.login {
  height: 450px;
}

.padding_middle {
  background-color: #34454d !important;
  height: 250px;
}

.the_market {
  background-color: #34454d !important;
  height: 150px;
}

.economic {
  padding-top: 50px;
}

.urban {
  padding-top: 50px;
}

.padding_middle_inner {
  padding-top: 50px;
}

.employed {
  padding-top: 50px;
  background-color: #f2f2f2 !important;
}

.commodities {
  background-color: #f2f2f2 !important;
}

.padding_middle_1 {
  font-size: 1.4rem;
  font-family: roboto-bold;
  font-weight: 200 !important;
  color: #fff !important;
}

.padding_middle_2 {
  font-size: 1.3rem;
  font-family: roboto-light;
  font-weight: 200 !important;
  color: #fff !important;
}

.sign_up_header {
  background-image: #34454d !important;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff !important;
}

.over {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 500px;
}

.have-notificatons {
  color: #098823 !important;
  font-family: roboto-light;
}

.have-inprogress {
  color: #098823 !important;
  font-family: roboto-light;
  font-size: 1rem;
  font-weight: 700;
}

.stripe {
  font-size: 2rem !important;
}

.product {
  font-family: roboto-light;
  background-color: #3aff62 !important;
  color: #34454d !important;
}

.service {
  font-family: roboto-light;
  background-color: #a5bfff !important;
  color: #34454d !important;
}

.skills {
  font-family: roboto-light;
  background-color: #ab43e1 !important;
  color: #fff !important;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 20vh;
  width: 50vw;
}

.qualifychart-container {
  position: relative;
  margin: auto;
  height: 55vh;
  width: 60vw;
}

#getusers {
  color: #34454d !important;
  /*background: $header;*/
  padding-top: 20px;
}

#getusers .box {
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  position: relative;
  background-image: linear-gradient(to bottom, #003ed8, #462469);
}

#getusers .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: #34454d;
}

#getusers .icon a {
  display: inline-block;
}

#getusers .icon i {
  color: #fff;
  font-size: 24px;
}

#getusers .box:hover .icon {
  background: #fff;
  border: 2px solid #34454d;
}

#getusers .box:hover .icon i {
  color: #34454d !important;
}

#getusers .box:hover .icon a {
  color: #34454d !important;
}

#getusers .title {
  color: #e9ecef;
  padding-top: 25px;
  font-weight: 700;
  font-size: 18px;
}

#getusers .title a {
  color: #e9ecef !important;
}

#getusers .section-header {
  padding: 30px !important;
}

#getusers .description {
  font-size: 14px;
  line-height: 24px;
}

#getpartners {
  color: #34454d !important;
  /*background: $header;*/
  padding-top: 20px;
}

#getpartners .box {
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  position: relative;
  background-image: linear-gradient(to bottom, #003ed8, #462469);
}

#getpartners .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: #34454d;
}

#getpartners .icon a {
  display: inline-block;
}

#getpartners .icon i {
  color: #fff;
  font-size: 24px;
}

#getpartners .box:hover .icon {
  background: #fff;
  border: 2px solid #34454d;
}

#getpartners .box:hover .icon i {
  color: #34454d !important;
}

#getpartners .box:hover .icon a {
  color: #34454d !important;
}

#getpartners .title {
  color: #e9ecef;
  padding-top: 25px;
  font-weight: 700;
  font-size: 18px;
}

#getpartners .title a {
  color: #e9ecef !important;
}

#getpartners .section-header {
  padding: 30px !important;
}

#getpartners .description {
  font-size: 14px;
  line-height: 24px;
}

#topproducts {
  color: #34454d !important;
  padding-top: 70px;
}

#topproducts .box {
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  position: relative;
  background-image: linear-gradient(to bottom, black, #95adb8);
}

#topproducts .icon {
  position: absolute;
  top: -86px;
  left: calc(50% - 86px);
  transition: 0.2s;
  border-radius: 10%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 172px;
  height: 172px;
  background: #34454d;
}

#topproducts .icon a {
  display: inline-block;
}

#topproducts .icon i {
  color: #fff;
  font-size: 24px;
}

#topproducts .box:hover .icon {
  background: #fff;
  border: 2px solid #34454d;
}

#topproducts .box:hover .icon i {
  color: #34454d !important;
}

#topproducts .box:hover .icon a {
  color: #34454d !important;
}

#topproducts .title {
  color: #e9ecef;
  padding-top: 75px;
  font-weight: 700;
  font-size: 18px;
}

#topproducts .title a {
  color: #e9ecef !important;
}

#topproducts .section-header {
  padding: 30px !important;
}

#topproducts .description {
  color: #e9ecef !important;
  padding-top: 10px;
  font-size: 14px;
  line-height: 24px;
}

#topskills {
  color: #34454d !important;
  padding-top: 70px;
}

#topskills .box {
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  position: relative;
  background-image: linear-gradient(to bottom, black, #95adb8);
}

#topskills .icon {
  position: absolute;
  top: -86px;
  left: calc(50% - 86px);
  transition: 0.2s;
  border-radius: 10%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 172px;
  height: 172px;
  background: #34454d;
}

#topskills .icon a {
  display: inline-block;
}

#topskills .icon i {
  color: #fff;
  font-size: 24px;
}

#topskills .box:hover .icon {
  background: #fff;
  border: 2px solid #34454d;
}

#topskills .box:hover .icon i {
  color: #34454d !important;
}

#topskills .box:hover .icon a {
  color: #34454d !important;
}

#topskills .title {
  color: #e9ecef;
  padding-top: 75px;
  font-weight: 700;
  font-size: 18px;
}

#topskills .title a {
  color: #e9ecef !important;
}

#topskills .section-header {
  padding: 30px !important;
}

#topskills .description {
  color: #e9ecef !important;
  padding-top: 10px;
  font-size: 14px;
  line-height: 24px;
}

#topservices {
  color: #34454d !important;
  padding-top: 70px;
}

#topservices .box {
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  position: relative;
  background-image: linear-gradient(to bottom, black, #95adb8);
}

#topservices .icon {
  position: absolute;
  top: -86px;
  left: calc(50% - 86px);
  transition: 0.2s;
  border-radius: 10%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 172px;
  height: 172px;
  background: #34454d;
}

#topservices .icon a {
  display: inline-block;
}

#topservices .icon i {
  color: #fff;
  font-size: 24px;
}

#topservices .box:hover .icon {
  background: #fff;
  border: 2px solid #34454d;
}

#topservices .box:hover .icon i {
  color: #34454d !important;
}

#topservices .box:hover .icon a {
  color: #34454d !important;
}

#topservices .title {
  color: #e9ecef;
  padding-top: 75px;
  font-weight: 700;
  font-size: 18px;
}

#topservices .title a {
  color: #e9ecef !important;
}

#topservices .section-header {
  padding: 30px !important;
}

#topservices .description {
  color: #e9ecef !important;
  padding-top: 10px;
  font-size: 14px;
  line-height: 24px;
}

#tradeseed {
  color: #34454d !important;
  padding-top: 70px;
}

#tradeseed .box {
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  position: relative;
  background-image: linear-gradient(to bottom, black, #95adb8);
}

#tradeseed .icon {
  position: absolute;
  top: -86px;
  left: calc(50% - 86px);
  transition: 0.2s;
  border-radius: 10%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 172px;
  height: 172px;
  background: #34454d;
}

#tradeseed .icon a {
  display: inline-block;
}

#tradeseed .icon i {
  color: #fff;
  font-size: 24px;
}

#tradeseed .box:hover .icon {
  background: #fff;
  border: 2px solid #34454d;
}

#tradeseed .box:hover .icon i {
  color: #34454d !important;
}

#tradeseed .box:hover .icon a {
  color: #34454d !important;
}

#tradeseed .title {
  color: #e9ecef;
  padding-top: 75px;
  font-weight: 700;
  font-size: 18px;
}

#tradeseed .title a {
  color: #e9ecef !important;
}

#tradeseed .section-header {
  padding: 30px !important;
}

#tradeseed .description {
  color: #e9ecef !important;
  padding-top: 10px;
  font-size: 14px;
  line-height: 24px;
}

#alltrades {
  color: #34454d !important;
  padding-top: 70px;
}

#alltrades .box {
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  position: relative;
  background-image: linear-gradient(to bottom, black, #95adb8);
}

#alltrades .icon {
  position: absolute;
  top: -86px;
  left: calc(50% - 86px);
  transition: 0.2s;
  border-radius: 10%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 172px;
  height: 172px;
  background: #34454d;
}

#alltrades .icon a {
  display: inline-block;
}

#alltrades .icon i {
  color: #fff;
  font-size: 24px;
}

#alltrades .box:hover .icon {
  background: #fff;
  border: 2px solid #34454d;
}

#alltrades .box:hover .icon i {
  color: #34454d !important;
}

#alltrades .box:hover .icon a {
  color: #34454d !important;
}

#alltrades .title {
  color: #e9ecef;
  padding-top: 75px;
  font-weight: 700;
  font-size: 18px;
}

#alltrades .title a {
  color: #e9ecef !important;
}

#alltrades .section-header {
  padding: 30px !important;
}

#alltrades .description {
  color: #e9ecef !important;
  padding-top: 10px;
  font-size: 14px;
  line-height: 24px;
}

.bg-gradient-primary {
  background-color: #dddfeb !important;
  background-image: linear-gradient(180deg, #34454d 10%, #212529 100%) !important;
  background-size: cover !important;
}

.welcome_back {
  background: #deeafb !important;
}

.welcome_back_text {
  font-family: roboto-bold;
  color: #3985e5 !important;
  font-size: 11px;
  line-height: 11px;
}

#wrapper {
  border: 1px solid #595657 !important;
}

.padding_dashboard {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #adb5bd !important;
}

.bg-dark {
  background-color: #080808 !important;
}

.background_dropdown {
  background-color: #000000 !important;
}

.item_dropdown {
  color: #ffffff !important;
}

.item_dropdown:active,
.item_dropdown:focus,
.item_dropdown:hover {
  color: #555b61 !important;
}

header.masthead_top_padding {
  padding-top: 40px !important;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 3rem;
  height: 280px;
  background-color: #34454d !important;
}

header.masthead_white {
  position: relative;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 3rem;
  height: 280px;
  background-color: #fff !important;
}

.text-darkgray {
  color: #595657 !important;
}

.masthead-padding {
  padding-top: 140px !important;
}

.masthead-content_bgwhite {
  background-color: #fff !important;
  color: #595657 !important;
}

header.masthead2 {
  position: relative;
  overflow: hidden;
  padding-top: calc(2rem + 15px) !important;
  padding-bottom: 2rem !important;
}

.color_head2 {
  color: #fff !important;
  padding-left: 10px;
}

.color_head2:active,
.color_head2:focus,
.color_head2:hover {
  color: #555b61 !important;
}

.color_head3 {
  color: #081321 !important;
}

.color_head3:active,
.color_head3:focus,
.color_head3:hover {
  color: #1b4274 !important;
}

@media only screen and (max-width: 600px) {
  .mobil {
    width: 100% !important;
    max-width: 100% !important;
  }

  header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 3rem;
    height: 480px;
    background-color: #34454d !important;
  }

  .padding_middle {
    background-color: #34454d !important;
    height: 350px;
  }

  .iframe_employed {
    overflow: hidden;
    width: 470px;
    height: 425px;
  }

  .iframe_video {
    width: 470px;
    height: 325px;
  }
}

@media only screen and (max-width: 810px) {
  .chart-container {
    position: relative;
    margin: auto;
    height: 50vh;
    width: 50vw;
  }

  .qualifychart-container {
    position: relative;
    margin: auto;
    height: 25vh;
    width: 50vw;
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 25px;
    padding-bottom: 3rem;
  }

  header.masthead .masthead-content .masthead-heading {
    font-size: 2rem;
  }

  header.masthead .masthead-content .masthead-subheading {
    font-size: 1rem;
  }

  .color_head2 {
    color: #fff !important;
    padding-left: 10px;
  }

  .color_head2:active,
  .color_head2:focus,
  .color_head2:hover {
    color: #555b61 !important;
  }

  header.masthead2 {
    padding-top: calc(2rem + 2px);
    padding-bottom: 2rem;
  }

  header.masthead2 .masthead-content .masthead-heading {
    font-size: 2rem;
  }

  header.masthead2 .masthead-content .masthead-subheading {
    font-size: 1rem;
  }

  .example-slide {
    align-items: center;
    background-color: #fff;
    color: #999;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    min-height: 10rem;
    width: 100%;
  }

  .masthead-padding {
    padding-top: 140px !important;
  }
}

.bg-primary {
  background-color: #34454d !important;
}

.btn-primary {
  background-color: #34454d;
  border-color: #34454d;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #1f2a2f !important;
  border-color: #1f2a2f !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 69, 77, 0.5);
}

.btn-secondary {
  background-color: #34454d;
  border-color: #34454d;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: #1f2a2f !important;
  border-color: #1f2a2f !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 69, 77, 0.5);
}

.btn-secondary:disabled {
  color: #fff;
  background-color: #7795a3 !important;
  border-color: #7795a3 !important;
}

.input-group > .intl-tel-input.allow-dropdown {
  flex: 1 1 auto;
  width: 1%;
}

.input-group > .intl-tel-input.allow-dropdown > .flag-container {
  z-index: 4;
}

.iti-flag {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.6/img/flags.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .iti-flag {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.6/img/flags@2x.png");
  }
}

